In [1]:
import pandas as pd
import numpy as np

In [3]:
list = [1,2,39,67,90]
list

[1, 2, 39, 67, 90]

In [4]:
pd.DataFrame(list,columns=["DegiskenIsmi"])

   DegiskenIsmi
0             1
1             2
2            39
3            67
4            90

In [5]:
m = np.arange(1,10).reshape((3,3))
m

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [7]:
pd.DataFrame(m,columns=["x1","x2","x3"])#data frame olusturma

   x1  x2  x3
0   1   2   3
1   4   5   6
2   7   8   9

In [8]:
df = pd.DataFrame(m,columns=["x1","x2","x3"])
df.head()

   x1  x2  x3
0   1   2   3
1   4   5   6
2   7   8   9

In [9]:
df.axes #index bilgisi gosterme

[RangeIndex(start=0, stop=3, step=1),
 Index(['x1', 'x2', 'x3'], dtype='object')]

In [10]:
df.shape #boyut bilgisi

(3, 3)

In [11]:
df.ndim

2

In [12]:
df.size

9

In [13]:
df.values

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [14]:
type(df.values)

numpy.ndarray

In [15]:
a =  np.array([1,2,3,4,5])

In [16]:
pd.DataFrame(a,columns = ["X"])

   X
0  1
1  2
2  3
3  4
4  5