In [63]:
import seaborn as sbn
import pandas as pd
import numpy as np
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn import metrics 
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB

titanicDataset = sbn.load_dataset("titanic")
df = titanicDataset.copy() #orjinal verisetini Bozup Daha Buyuk hatalarla karsilasmamak icin kopyaliyoruz.
df.head(8).T #Veri setini Daha Anlasilir gormek icin Transpozunu aliyorum ve ilk 8 Property gosteriyoruz

,0,1,2,3,4,5,6,7
survived,0,1,1,1,0,0,0,0
pclass,3,1,3,1,3,3,1,3
sex,male,female,female,female,male,male,male,male
age,22.0,38.0,26.0,35.0,35.0,NaN,54.0,2.0
sibsp,1,1,0,1,0,0,0,3
parch,0,0,0,0,0,0,0,1
fare,7.25,71.2833,7.925,53.1,8.05,8.4583,51.8625,21.075
embarked,S,C,S,S,S,Q,S,S
class,Third,First,Third,First,Third,Third,First,Third
who,man,woman,woman,woman,man,man,man,child
adult_male,True,False,False,False,True,True,True,False
deck,NaN,C,NaN,C,NaN,NaN,E,NaN
embark_town,Southampton,Cherbourg,Southampton,Southampton,Southampton,Queenstown,Southampton,Southampton
alive,no,yes,yes,yes,no,no,no,no
alone,False,False,True,False,True,True,True,False

In [ ]:
df.tail(5) #Son 5 Property

In [ ]:
df.describe().T # Detayli Bilgiler (Count,mean,std....)

In [ ]:
df.columns #Sutun isimlerini Yazdirma.

In [ ]:
df.isnull().sum() #hangi degiskende kac tane eksik deger var gosteririr

In [ ]:
df.dropna(axis=0, how='any', thresh=None, subset=None, inplace=True)# Once Eksik verileri siliyorum Inplacte True Olsa bile copy frame uzerinde islem yapiyoruz.
df.isnull().sum() #Kontrol Amacli Tekrar Print Ediyorum.

In [ ]:
#String Donusumler Icin Label Encoder
_label = preprocessing.LabelEncoder() #preprocessing.LabelEncoder()

#Veri Seti Uzerinde Encode Edilebilecek Row'lar
sexEncode = _label.fit_transform(df["sex"])
whoEncode = _label.fit_transform(df["who"])
aliveEncode = _label.fit_transform(df["alive"])
passengerStatus = _label.fit_transform(df["class"])
passengerAdultMale = _label.fit_transform(df["adult_male"])
passengerAlone = _label.fit_transform(df["alone"])


print("Sex Encoded:",sexEncode)
print("Who Encoded:",whoEncode)
print("Alive Encoded:",aliveEncode)
print("Passenger Status Encoded:",passengerStatus)
print("Passenger Adult Male Encoded:",passengerAdultMale)
print("Alone Encoded:",passengerAlone)

In [ ]:
# Target Belirleme(Ancak Emin Degilim Bagimli Desgiskenlere ayiriyor mu ?)
df.alive #Veri Seti Oykusune gore yolcularÄ±n hangi parametrelere bagli olarak hayatta kalip kalmadigini arastirmak icin target olarak alive secildi.

In [ ]:
df.info()#Yapisal Bilgileri Gormek ve object turunu kategorize etmek icin on bilgilendirme

In [ ]:
#Object turunde ve grafik haline getirmek istedigim oznitelikleri kategorik olarak duzenliyorum
df.alive = pd.Categorical(df.alive) 
df.sex = pd.Categorical(df.sex) 
df.who = pd.Categorical(df.who) 
 
df.info()

In [ ]:
##Grupla ve Cizdir.
##Daha oncesinde encode ettigim verilerimi Frame icerisine aliyorum
#Manuel Inplace true diyebiliriz.
df.alive = aliveEncode
df.sex = sexEncode
df.adult_male = passengerAdultMale
df.who = whoEncode
df["class"] = passengerStatus 
df.alone = passengerAlone
##Target ozelligim olan alive'a gore grupluyor ve histogram grafigini yazdiriyorum.
groupFrame = df.groupby("alive")
groupFrame.hist()

In [ ]:
#Siniflandirma Islemlerini Yapmak Icin x ve y olarak feature ayiriyorum.
x = df[["sex","who","adult_male","class","alone"]]
y = df.alive
print(x)
print(y)

In [59]:
#train ve test olarak ayiriyorum ve %25 olarak test size aliyorum.
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.25)

In [67]:
#Bu Noktada Odevde Istenen 1)Karar Agaci,2)Bayes,3)K En yakin Komus, 4)SVM
#siniflandirma modellerini uygulamak adina Methodlara Ayiriyorum.
def kararAgaci(xTrain,yTrain,xTest,yTest):
    kararAgaci = DecisionTreeClassifier()
    kararAgaci = kararAgaci.fit(xTrain,yTrain)
    y_pred = kararAgaci.predict(xTest)
    print("Karar Agaci Basari:",metrics.accuracy_score(yTest,y_pred))


def kNearest(xTrain,yTrain,xTest,yTest,neighNum):
    modelNeigh = KNeighborsClassifier(n_neighbors=neighNum)
    modelNeigh.fit(xTrain,yTrain)
    predictModel = modelNeigh.predict(xTest)
    print("K-En Yakin Komsu Basari:",metrics.accuracy_score(yTest,predictModel))

def
kNearest(x_train,y_train,x_test,y_test,7)
kararAgaci(x_train,y_train,x_test,y_test)

K-En Yakin Komsu Basari: 0.6304347826086957
Karar Agaci Basari: 0.717391304347826