In [1]:
import pandas as pd
import numpy as np

In [ ]:
"""
anaconda prompt
pip install pandas
pip install numpy
"""

In [9]:
trainDS=pd.read_excel('Data_User_Modeling_Dataset _temizleme.xls', sheet_name='Training_Data', 
                      index_col=None, usecols=[0,1,2,3,4])

In [10]:
trainDS.head()  #ilk 5 kayıt

    STG   SCG   STR   LPR   PEG
0  0.00  0.00  0.00  0.00  0.00
1  0.08  0.08  0.10  0.24  0.90
2  0.06  0.06  0.05  0.25  0.33
3  0.10   NaN  0.15  0.65  0.30
4  0.08  0.08  0.08  0.98  0.24

In [11]:
trainDS.tail(3)  #son 3 kayıt

      STG   SCG   STR   LPR   PEG
255  0.54  0.82  0.71  0.29  0.77
256  0.50  0.75  0.81  0.61  0.26
257  0.66  0.90   NaN  0.87  0.74

In [12]:
trainDS.shape #boyut gösterir

(258, 5)

In [13]:
trainDS.dtypes  #niteliklerin veri tiplerini gösterir

STG    float64
SCG    float64
STR    float64
LPR    float64
PEG    float64
dtype: object

In [14]:
trainDS["STR"].head()

0    0.00
1    0.10
2    0.05
3    0.15
4    0.08
Name: STR, dtype: float64

In [18]:
#trainDS["STR", "STG"].head()

In [21]:
eksik_veri=trainDS.isnull().sum() #girilmemiş veriler
print(eksik_veri)

STG    0
SCG    4
STR    6
LPR    1
PEG    3
dtype: int64

In [22]:
satir_olarak_ihmal= trainDS.dropna()
satir_olarak_ihmal

      STG   SCG   STR   LPR   PEG
0    0.00  0.00  0.00  0.00  0.00
1    0.08  0.08  0.10  0.24  0.90
2    0.06  0.06  0.05  0.25  0.33
4    0.08  0.08  0.08  0.98  0.24
5    0.09  0.15  0.40  0.10  0.66
..    ...   ...   ...   ...   ...
251  0.56  0.60  0.60  0.31  0.50
252  0.54  0.51  0.55  0.64  0.19
254  0.78  0.61  0.71  0.19  0.60
255  0.54  0.82  0.71  0.29  0.77
256  0.50  0.75  0.81  0.61  0.26

[245 rows x 5 columns]

In [24]:
sutun_olarak_ihmal= trainDS.dropna(axis=1)
sutun_olarak_ihmal

      STG
0    0.00
1    0.08
2    0.06
3    0.10
4    0.08
..    ...
253  0.61
254  0.78
255  0.54
256  0.50
257  0.66

[258 rows x 1 columns]

In [28]:
print(trainDS.shape)
print("satır=", trainDS.shape[0], " sütun=",trainDS.shape[1])
print(satir_olarak_ihmal.shape)
print(sutun_olarak_ihmal.shape)

(258, 5)
satır= 258  sütun= 5
(245, 5)
(258, 1)

In [30]:
#eksik verilere sabit değer atamak için
sabit_deger=trainDS.fillna(0.0001)
sabit_deger.head()

    STG     SCG   STR   LPR   PEG
0  0.00  0.0000  0.00  0.00  0.00
1  0.08  0.0800  0.10  0.24  0.90
2  0.06  0.0600  0.05  0.25  0.33
3  0.10  0.0001  0.15  0.65  0.30
4  0.08  0.0800  0.08  0.98  0.24

In [31]:
#son gözlemin aktarılması
son_gozlem=trainDS.fillna(method="ffill")
son_gozlem

      STG   SCG   STR   LPR   PEG
0    0.00  0.00  0.00  0.00  0.00
1    0.08  0.08  0.10  0.24  0.90
2    0.06  0.06  0.05  0.25  0.33
3    0.10  0.06  0.15  0.65  0.30
4    0.08  0.08  0.08  0.98  0.24
..    ...   ...   ...   ...   ...
253  0.61  0.78  0.69  0.92  0.19
254  0.78  0.61  0.71  0.19  0.60
255  0.54  0.82  0.71  0.29  0.77
256  0.50  0.75  0.81  0.61  0.26
257  0.66  0.90  0.81  0.87  0.74

[258 rows x 5 columns]

In [34]:
#eksik veri kontrolü
print(son_gozlem.isnull().sum())

STG    0
SCG    0
STR    0
LPR    0
PEG    0
dtype: int64

In [35]:
#sonraki değerin aktarılması

sonraki_gozlem=trainDS.fillna(method="bfill")
sonraki_gozlem

      STG   SCG   STR   LPR   PEG
0    0.00  0.00  0.00  0.00  0.00
1    0.08  0.08  0.10  0.24  0.90
2    0.06  0.06  0.05  0.25  0.33
3    0.10  0.08  0.15  0.65  0.30
4    0.08  0.08  0.08  0.98  0.24
..    ...   ...   ...   ...   ...
253  0.61  0.78  0.69  0.92  0.60
254  0.78  0.61  0.71  0.19  0.60
255  0.54  0.82  0.71  0.29  0.77
256  0.50  0.75  0.81  0.61  0.26
257  0.66  0.90   NaN  0.87  0.74

[258 rows x 5 columns]

In [36]:
from sklearn.preprocesing import Imputer

ModuleNotFoundError: No module named 'sklearn.preprocesing'

In [ ]:
#eksik veride töhmet uygulamalari
from sklearn.preprocessing import Imputer

#Ortalama töhmet (mean imputation)
imp = Imputer(missing_values=np.nan, strategy='mean')
ortalama_tohmet =pd.DataFrame( imp.fit_transform(trainDS.iloc[:,0:5]), columns=trainDS.columns.values.tolist()[0:5])
print(ortalama_tohmet)

#Medyan tohmet
imp = Imputer(missing_values=np.nan, strategy='median')
medyan_tohmet =pd.DataFrame( imp.fit_transform(trainDS.iloc[:,0:5]), 
                            columns=trainDS.columns.values.tolist()[0:5])
print(medyan_tohmet)


#En fazla olan değer
imp = Imputer(missing_values=np.nan, strategy='most_frequent')
en_cok_tohmet =pd.DataFrame( imp.fit_transform(trainDS.iloc[:,0:5]), columns=trainDS.columns.values.tolist()[0:5])
print(en_cok_tohmet)

In [38]:
trainDS.iloc[1:10,0:5]
trainDS.iloc[:,0:5]

    STG   SCG   STR   LPR   PEG
1  0.08  0.08  0.10  0.24  0.90
2  0.06  0.06  0.05  0.25  0.33
3  0.10   NaN  0.15  0.65  0.30
4  0.08  0.08  0.08  0.98  0.24
5  0.09  0.15  0.40  0.10  0.66
6  0.10  0.10  0.43  0.29  0.56
7  0.15  0.02  0.34  0.40  0.01
8  0.20  0.14  0.35  0.72  0.25
9  0.00  0.00  0.50  0.20  0.85